{% extends "base.html" %}
{% block body %}
    <style>
    .form-items{
        margin-right: 400px;
    }

     .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
                body{
                  background: #FFFFFF;
                    overflow: hidden;
                }
                label{
                    font-size: 18px;
                    font-weight: 600;
                }
                input{
                    margin-bottom: 0.5rem;
                    padding: 0px 6px;
                    width: 30%;
                    height: 32px;
                }

               .updatebutton{
                  background: linear-gradient(to right,#2895f1,#0060b1);
                  color: white;
                  font-weight: 600;
                  border-radius: 0.6em;
                  border: none;
                  padding: 10px 40px;
                  font-size: 20px;
                  margin-bottom: 20px;
                  margin-left: 8px;
                  text-decoration: none;
                  outline: none !important;
               }
               #updatebutton:hover{
                      font-size: 21px;
               }
               .media{
               align-items: center;
               }
               .account-img{
                      outline: #0060b1;
               }
               .media-body{
                      display: inline-block;
                      margin: 30px 0px 0px 28px;
               }
               .form-check-input{
                   margin-left: -12.25rem;
               }
               .form-check{
                   padding-left: 4rem;
               }
           </style>
    <div class="form-body">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder" style="width: 600px;">
                <div class="bg">
                    <img src="/static/images/img2.jpg" style="width: 100%; height: 100%;">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a style="color: white;" href="{% url 'home' %}">Return to home page</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}







