{% extends 'base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Details</h5>
      </div>
        <form method="post"  enctype="multipart/form-data" action="{% url 'profile' %}">
        {% csrf_token %}
      <div class="modal-body">
              <fieldset class="form-group">

                                   {{ u_form | crispy }}
                                   {{ p_form | crispy }}
                                   Movie Categories you like:
                                   {% for i in user_category %}
                                   {{ i.name }},
                                   {% endfor %}
                               </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" name="update" class="btn btn-primary" style="background-color: #333; border: 1px solid #333;">Update</button>
      </div>
        </form>
    </div>
  </div>
</div>
    {% if messages %}
    {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> {{ message }}
</div>
    {% endfor %}
{% endif %}
<div class="container" style="margin-top: 10%;">
    <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ user.profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ request.user.username }}</h4>
                      <div class="plan p-3">
            </div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">

                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ request.user.first_name}} {{ request.user.last_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ request.user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-1" style="padding-left: 330px;">
                        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" style="background-color: #333; border: 1px solid #333;" data-toggle="modal" data-target="#exampleModal">
  Edit
</button>
                    </div>
                  </div>
                </div>
              </div>


          </div>

        </div>
    </div>
    </div>
</div>

{% endblock %}