{% extends 'base.html' %}
{% load static %}
{% block pagecss %}
{#		<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">#}
<style>


/* Featured Box */
.featured-box {
	background: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #ECECEC;
	border-radius: 8px;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-height: 100px;
	position: relative;
	text-align: center;
	{#z-index: 1;#}
}

.featured-box h4 {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.featured-box .box-content {
	border-radius: 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	border-top-width: 4px;
	padding: 28.8px;
	padding: 1.8rem;
	position: relative;
}

.featured-box .box-content:not(.box-content-border-0) {
	top: -1px;
	border-top-width: 4px;
}

.featured-box .box-content.box-content-border-0 {
	border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
	border-bottom: 0 !important;
}

.featured-box .box-content.box-content-border-bottom {
	top: 1px;
}

.featured-box .box-content-border-bottom {
	border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
	border-bottom: 4px solid rgba(0, 0, 0, 0.06);
}
a.login{
    color: #0f5132;
    text-decoration: underline !important;
}
</style>
{% endblock %}
{% block body %}
<div class="row justify-content-center">
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error"%}
            <div class="alert alert-danger" role="alert">
  {{ message }}
</div>
        {% endif %}
        {% if message.tags == "success"%}
            <div class="alert alert-success" role="alert">
  {{ message }}
</div>
        {% endif %}
    {% endfor %}
{% endif %}
  <div class="col-6">
    <div class="featured-box featured-box-primary text-start mt-0">
        <div class="box-content">
            <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">Signup</h4>
            <form method="POST">
                {% csrf_token %}
                {% for field in form_signup %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}"
                                     id="group_{{ field.name }}">
                                    <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
                                    <div class="input-group mb-3">
                                    {% if field.name == "password" or field.name == "confirm_password" %}
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                        </div>
                                    {% elif field.name == "username" or field.name == "first_name" %}
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>
                                    {% elif field.name == "email" %}
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                                        </div>
                                    {% endif %}

                                        {{ field }}
                                        {% if field.name == "password" %}
                                            <div id="tail"></div>
                                        {% endif %}
                                    {% if field.name == "confirm_password" %}
                                            <div id="ctail"></div>
                                        {% endif %}
                                    </div>

                                </div>
                            {% endfor %}
            <div id="show-password">
                <input type="checkbox" onclick="myFunction()"> Show Password
            </div><br>
                         Password must contains atleast 8 characters.
                                    Password must be alphanumeric
                        <div>
                             {% for category in categories %}
                                 <div class="form-check">
    <input class="form-check-input" type="checkbox" value="{{ category.name}}" id="{{ category.name}}" name="movies">
    <label class="form-check-label" for="{{ category.name}}">{{ category.name}}</label>
  </div>
                             {% endfor %}

                        </div>

                <button type="submit" class="btn btn-primary mt-4" style="background-color: #333; border: 1px solid #333;">Register</button>
         </form>

        </div>
    </div>
  </div>
</div>

<script>

        function myFunction() {
  var password = document.getElementById("id_password");
  var confirm_password = document.getElementById("id_cpassword");
  if (password.type === "password") {
    password.type = "text";
    confirm_password.type="text"
  } else {
    password.type = "password";
    confirm_password.type = "password";
  }
}
</script>
{% endblock %}