{% extends "base.html" %}
{% load static %}
{% block pagecss %}
{#		<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/theme2.css' %}">
<style>

/* Featured Box */
.featured-box {
	background: #FFF;
	box-sizing: border-box;
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #ECECEC;
	border-radius: 8px;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	min-height: 100px;
	position: relative;
	text-align: center;
}

.featured-box h4 {
	font-size: 1.3em;
	font-weight: 400;
	letter-spacing: -0.7px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.featured-box .box-content {
	border-radius: 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	border-top-width: 4px;
	padding: 28.8px;
	padding: 1.8rem;
	position: relative;
}

.featured-box .box-content:not(.box-content-border-0) {
	top: -1px;
	border-top-width: 4px;
}

.featured-box .box-content.box-content-border-0 {
	border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
	border-bottom: 0 !important;
}

.featured-box .box-content.box-content-border-bottom {
	top: 1px;
}

.featured-box .box-content-border-bottom {
	border-top: 1px solid rgba(0, 0, 0, 0.06) !important;
	border-bottom: 4px solid rgba(0, 0, 0, 0.06);
}
small a{
    color: #333;
}

</style>
{% endblock %}


{% block body %}
    <style>
    body{
        overflow: hidden;
    }
</style>
   <div class="row justify-content-center">
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error"%}
            <div class="alert alert-danger" role="alert">
  {{ message }}
</div>
        {% endif %}
        {% if message.tags == "success"%}
            <div class="alert alert-success" role="alert">
  {{ message }}
</div>
        {% endif %}
    {% endfor %}
{% endif %}
  <div class="col-6" style="width: 30%; margin-top: 10%;">
    <div class="featured-box featured-box-primary text-start mt-0">
        <div class="box-content">
            <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">SIGNIN</h4>
            <form method="POST" action="">
                            {% csrf_token %}

                            {% for field in form_login %}
                                <div class="form-group {% if field.errors %}has-error{% endif %}"
                                     id="group_{{ field.name }}">
                                    <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
                                    <div class="input-group mb-3">
                                    {% if field.name == "password" %}
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                        </div>
                                    {% elif field.name == "username" %}
                                            <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                        </div>

                                        {% endif %}

                                        {{ field }}

                                    </div>

                                </div>
                            {% endfor %}
                            <div id="show-password">
                <input type="checkbox" onclick="myFunction()"> Show Password
            </div><br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mt-4" style="background-color: #333; border: 1px solid #333;">Login</button>
                            </div>
                            <div id="tail"></div>
                        </form>
                    <a style="color: white" href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
     <!-- Signin password -->
    <div class="form-group">
        <small class="form-text text-muted">
            <a href="{% url 'password_reset' %}">Forgotten Password</a>
        </small>
        <small class="form-text text-muted">
            <a href="{% url 'signup' %}">Not Registered?</a>
        </small>
    </div>
    </div>
  </div>

</div>


    <script>
function myFunction() {
  var password = document.getElementById("id_password");
  if (password.type === "password") {
    password.type = "text";
  } else {
    password.type = "password";
  }
}

    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
