{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico.png' %}"/>
    <title>Movie Recommendor</title>
    <style>{% block css %} {% endblock %}
    #footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:#333;
}
    .navbar{
    background-color: #333;
}
    .col-sm-6, .col-sm-6 a{
        color: white;
    }
    .active-me{
        font-size: 20px;
    }
    button#navbarDropdown.notification.dropdown-toggle::after{
        color: #333;
    }
    i.fa.fa-bell::before{
        color: white;
    }
    #notification-badge{
        position: absolute;
        top: 10px;
        right: 1px;
    }
    .navbar-toggler{
        background-color: white;
    }
   </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{#<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">#}

{% block pagecss %}
{% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/5135d630a7.js" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light" style="position:sticky; color: cornflowerblue; top: 0; z-index: 1">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: white;">Movie Recommender</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">

    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a {% if menuindex == 1 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %} href="{% url 'home' %}" style="color: white;">HOME </a>
                </li>

                <li class="nav-item">
                    <a {% if menuindex == 3 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %}  href="{% url 'recently_added' %}" style="color: white;">Recently Added </a>
                </li>
                <li class="nav-item">
                    <a {% if menuindex == 6 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %}  href="{% url 'recommend' %}" style="color: white;">Recommended Movies </a>
                </li>
                <li class="nav-item">
                    <a {% if menuindex == 4 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %}  href="{% url 'my_books' %}" style="color: white;">My Movies</a>
                </li>
                <li class="nav-item dropdown notification-section">
                <div class="dropdown" onclick="notification_seen('{{ request.user.id }}')">
    <button data-toggle="dropdown" style="background-color: #333; margin-top: 30%; width: 40px;height: 40px;">
        <span><i class="fa fa-bell" style="color:black;"></i> </span>
        <span class="badge" id="notification-badge"></span>
    </button>

    <ul class="dropdown-menu" id="ul-dropdown" style="width: 275px;">
    </ul>
  </div>
                </li>
                <li class="nav-item">
                    <a {% if menuindex == 5 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %}  href="{% url 'profile' %}" style="color: white;">PROFILE</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" style="color: white;">LOGOUT {{ request.user.username }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a {% if menuindex == 1 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %} href="{% url 'home' %}" style="color: white;">HOME </a>
                </li>
                <li class="nav-item">
                    <a {% if menuindex == 2 %} class="active-me nav-link"{% else %}class="nav-link" {% endif %} href="{% url 'get_started' %}" style="color: white;">Get Started</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}


{% endblock %}
 <footer id="footer">
    <div class="container">
        <div class="row" style="margin-left: 40%;">
            <div class="col-sm-6">
                &copy;{% now "Y" %} <a href="/">Movie Recommender</a>
            </div>
            <div class="col-sm-6" style="padding-left: 30%;">
                <a href="#"> Privacy Policy </a>
            </div>
        </div>
    </div>
</footer><!--/#footer-->
<script>
    get_unseen_notifications('{{ request.user.id }}')

    function get_unseen_notifications(name){
        var c=0;
    fetch('http://127.0.0.1:8000/notifications')
.then((response) => {
      return response.json();
    })
    .then((data) => {
        console.log(data)
        data.forEach(function (d){
            console.log("test", d["seen"]===false && d["user"]!==name)
            if (d["seen"]===false){
                console.log("d", d)
                if (d["user"]!=name){
                    console.log("userd", d["user"])
                console.log("user", name)
                c+=1
                document.getElementById("notification-badge").textContent=c
                }
                else{
                    console.log("userd", d["user"])
                console.log("user", name)
                }
            }
        })
    })
    }


function notification_seen(user_id) {
        document.getElementById("ul-dropdown").classList.add("open")
        fetch('http://127.0.0.1:8000/notifications_click')
.then((response) => {
      return response.json();
    })
    .then((data) => {
        console.log(data)
        data.forEach(function (d){
            if (d["user"]!=user_id){
                var li=document.createElement("li")
            li.textContent=d.message
            document.getElementById("ul-dropdown").appendChild(li)
            }
        })
    })
        document.getElementById("notification-badge").textContent=""
    }</script>
</html>