{% extends 'base.html' %}
{% block body %}
<div class="detail">
<h1>Book's Detail</h1>

    <div class="image-side">
<img src="{{MEDIA_URL}}{{object.book_image}}" width="500px" height="500px" >
</div>
<h2>Posted By:{{object.info_user}}<br>
Book's name:{{object.name}}<br>
Authors:{{object.authors}}<br>
Description:{{object.description}}<br>
Category:{{object.category}}<br>
</h2></div>

{% if object.info_user == request.user %}
<a href="{% url 'update' object.id %}" class="btn btn-secondary">Update</a>
<a href="{% url 'delete' object.id %}" class="btn btn-danger">Delete</a>
{% endif %}
{% endblock %}
